/* Variables */
:root {
    --light-gray: rgb(186, 186, 194);
    --dark: rgb(2, 6, 61);
    --border: 2px solid #1613a3;
    --border-radius: 10px;
  }

/* Global selectors */
*{
    font-family: 'Syncopate', sans-serif;
    font-variant: small-caps;
}
 
body{
    width: 100%;
}

header{ 
    background-image: linear-gradient(to bottom, rgb(2, 6, 61), rgb(2, 6, 61), rgba(253, 253, 253, 0));
    width:100%;
}

h1 {
    font-weight:900;
    font-family: syncopate, sans-serif;
    font-weight: 900;
    font-size: 72px;
    font-variant:small-caps;
    font-style: oblique;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
  }
  
h2{
    font-size: 44px;
    font-weight: 600;
    margin-left: 50px;
    text-decoration: underline;
    color: var(--dark);
}

  h3{
    font-size: 32px;
    font-weight: 600;
    color: var(--dark);
  }

.name-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    height: 160px;
    width: 160px;
    border: var(--border);
    border-radius: 80px;
    margin: 40px 0px;
    animation-play-state: paused;
}

nav{
    display: inline;
    margin: 120px 0px 80px 0px;
    flex-flow:column;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav a{
    font-size: 32px;
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    display: inline;
    justify-content: space-around;
}

main{
    background-image: linear-gradient(to top, rgb(2, 6, 61), rgb(2, 6, 61),rgba(255, 255, 255, 0));
    height: 100%;
    width: 100%;
    display:block;
}

/* Work Section */
.work{
    margin:200px 0px;
    text-align: left;
}

.creations{
    display: flex; 
    flex-direction:row;
    flex-wrap: wrap; 
    position: relative;
    justify-content: center;
    align-items:center;

}

.project{
    border: var(--border);
    margin:40px;
    border-radius: var(--border-radius);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.focus-project{
    height: 500px;
    width: 500px;
}

.project-title{
    border: var(--border);
    text-align: center;
    border-radius: var(--border-radius);
    position: absolute;
    justify-content: center;
    bottom:40px;
    left:0px;
    padding: 5px;
    background-color: var(--light-gray);
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
 .project:hover{
    box-shadow: inset 0px 0px 30px rgb(0, 217, 255), 0 0 30px rgb(0, 217, 255); 
}

.section-heading{
    color: var(--light-gray);
    margin-bottom: 30px;
}

.dark{
    color: var(--dark);
}

/* Bio section */
.bio{
    margin-top:100px;
    text-align: left;
    color: var(--light-gray);
}

/* Contact Section */
.contact-info{
    color:var(--light-gray);
    margin-top: 400px;
    position: relative;
    bottom: 100px
}

.contact-info li{
    display: block;
    list-style-type:none;
    font-size: 18px;
    margin: 25px 50px;
    justify-content: right;
}

.contact-link a{
    text-decoration:none;
    font-weight: 700;
    color:rgb(242, 240, 255);
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: var(--light-gray);
    
    /* Create the gradient. */
        background-image: linear-gradient(
            90deg,
            var(--dark),
            var(--dark),
            var(--dark), 
            var(--dark), 
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray),
            var(--light-gray));
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat:repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
        /* This animates it on page load and when hovering out. */
        animation: rainbow-text-simple-animation 3.5s ease-in backwards;
        }
    
    /* Move the background and make it smaller. */
    /* Animation shown when entering the page. */
    /* @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 300%;
        }
        40% {
            background-size: 650%;
        }
        100% {
            background-size: 650%;
        }
    } */
    
    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 650%;
        }
        80% {
            background-size: 250%;
        }
        100% {
            background-size: 100%;
        }
    }


/* Adaptive media */

        /* Tablets and smaller - Title name stacks vertically and section headings and contact info align centrally*/

        @media screen and (max-width: 992px) {
            .name-avatar {
            flex-wrap: wrap;
            }

            .first-name{
            margin-top: 60px;
            }

            header{ 
                background-image: linear-gradient(to bottom, rgb(2, 6, 61), rgb(2, 6, 61), rgb(2, 6, 61), rgba(253, 253, 253, 0));
            }

           .section-heading{
                text-align: center;
                margin-left: 0px;
            }

            .contact-info{
                text-align: center;
                margin-left: 0px;
            }


        }
  